#--------------------------#
# Magento Default Files    #
#--------------------------#
/.htaccess
/app/etc/local.xml

/downloader/.cache
/downloader/*.cfg
!/downloader/.htaccess

/errors/local.xml

/includes/*
!/includes/.htaccess

/media/*
!/media/.htaccess

/pkginfo/*
!/pkginfo/.htaccess

/var/*
!/var/.htaccess

/sitemap.xml

/vendor/*

/.idea
/.idea/*